<html>
  <head>
    <title>Reflectivity under Flask</title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h2>Reflectivity under Flask</h2>

    <form action="{{ url_for('handle_data') }}" method="post">
      <input type="text" name="projectFilepath">
      <input type="submit">
    </form>
  
    <hr>
    <b>{{ param }}</b>
    <hr>
    <a href="/calculator">My Calculator</a>
    <hr>
		<button onclick="myFunction()">Click me</button>
		<hr>
		<p id="demo"></p>
		<hr>
    Search: <input type="text" id="search_form_input"></input>

    <div id="place_for_suggestions"></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script>
    $("#search_form_input").keyup(function(){
        var text = $(this).val();
    
        $.ajax({
          url: "/suggestions",
          type: "get",
          data: {jsdata: text},
          success: function(response) {
            $("#place_for_suggestions").html(response);
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        });
    });
    </script>
        <script>
      function myFunction() {
			
        document.getElementById("demo").innerHTML = window.location;//"Hello World";
      }
    </script>
        </body>
</html>
