<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--
    Source: http://layout.jquery-dev.com/demos/nested.html
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Local Nested Layouts</title>
    <link type="text/css" rel="stylesheet" href="http://layout.jquery-dev.com/lib/css/layout-default-latest.css" />
    <link type="text/css" rel="stylesheet" href="jq_panes_layout.css">

	<script type="text/javascript" src="http://layout.jquery-dev.com/lib/js/jquery-latest.js"></script>
	<script type="text/javascript" src="http://layout.jquery-dev.com/lib/js/jquery-ui-latest.js"></script>
	<script type="text/javascript" src="http://layout.jquery-dev.com/lib/js/jquery.layout-latest.js"></script>

    <script type="text/javascript" src="jq_panes_layout.js"></script>

</head>
<body>

<div class="outer-center">
	<div class="middle-center">
		<div class="inner-east">Inner East</div>
        <div class="ui-layout-north">Inner North</div>
		<div class="inner-center">Inner Center</div>
	</div>
	<div class="middle-east">Middle East</div>

</div>
</body>
</html>
